{% extends "base.html" %}

{% block content %}
    <h1 id="ab">About Us</h1>
    <h2 id="ab2">Our Mission</h2>
    <video autoplay muted loop id="video-bg">
        <source src="https://videos.pexels.com/video-files/1620050/1620050-hd_1280_720_25fps.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    <p id="p1">Welcome to ImpYield! Our mission is to provide accurate and reliable predictions for rainfall and temperature to help individuals, businesses, and communities make informed decisions based on weather forecasts. We understand the critical role that weather plays in various aspects of life, from agriculture to urban planning, and aim to offer valuable insights through our advanced prediction models.</p>
    <br>
    <h2 id="ab2">What We Do</h2>
    <p id="p1">Our platform uses historical weather data, machine learning algorithms, and statistical analysis to predict future rainfall and temperature. By inputting variables such as current rainfall, wind speed, and the month of the year, our models generate forecasts that can assist in planning and decision-making.</p>
    <br>
    <h2>Our Vision</h2>
    <p id="p1">We envision a world where advanced weather predictions help mitigate the impacts of climate change, optimize resource usage, and enhance the quality of life. By providing reliable weather forecasts, we hope to contribute to more resilient and sustainable communities.</p>
    <br>
    <h2>Contact Us</h2>
    <p id="p1">For more information, support, or inquiries, please contact us at:<br><br>

        Email: info@impyieldsupport.com<br>
        Phone: (123) 456-7890<br></p>
{% endblock %}
